body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

/* Registration page style */

#registration_page {
  background-color: #F0F8EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 844px;
  width: 390px;
}

.registration_page_textbox {
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  height: 54px;
  width: 216px;
  padding: 10px;
  margin-block-start: 0em;
}

.registration_page_textbox:nth-of-type(5) {
  margin-block-end: 2em;
}

.registration_page_form_heads {
  color: darkslategray;
  margin-block-end: .2em;
}

#register_button {
  background-color: #DDEED6;
  border: none;
  height: 54px;
  width: 216px;
  border-radius: 25px;
  font-size: 36px;
  color: darkslategray;
}

.choose_login {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#registration_page {
  background-color: #F0F8EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 844px;
  width: 390px;
}

.registration_page_textbox {
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  height: 54px;
  width: 216px;
  padding: 10px;
  margin-block-start: 0em;
}

.registration_page_textbox:nth-of-type(5) {
  margin-block-end: 2em;
}

.registration_page_form_heads {
  color: darkslategray;
  margin-block-end: .2em;
}

#register_button {
  background-color: #DDEED6;
  border: none;
  height: 54px;
  width: 216px;
  border-radius: 25px;
  font-size: 36px;
  color: darkslategray;
}

.choose_login {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* Login Page style */

#login_page {
  background-color: #F0F8EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 844px;
  width: 390px;
}

.login_page_textbox {
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  height: 54px;
  width: 216px;
  padding: 10px;
  margin-block-start: 0em;
}

.login_page_textbox:nth-of-type(2) {
  margin-block-end: 2em;
}

.login_page_form_heads {
  color: darkslategray;
  margin-block-end: .2em;
}

#login_button {
  background-color: #DDEED6;
  border: none;
  height: 54px;
  width: 216px;
  border-radius: 25px;
  font-size: 36px;
  color: darkslategray;
}

.choose_register {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.error_message {
  align-self: center;
  justify-self: center;
  color: red;
}

/* Index Page style */

#home_page {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 844px;
  width: 390px;
}

#home_header {
  width: 390px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#profile_button {
  border-radius: 100px;
  background-color: #E6F4E0;
  height: 58px;
  width: 58px;
  margin-left: 14px;
}

#home_greeting {
  color: #535353;
  font-size: 36px;
  margin-left: 23px;

}

#session_display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 648px;
}

.session_card {
  display: flex;
  height: 151px;
  width: 304px;
  border-radius: 25px;
  background-color: #F0F8EC;
  justify-content: end;
}

.session_name_on_card_div {
  display: flex;
  justify-content: space-around;
  color: #535353;
  width: 177px;
}

.session_name_on_card {
  font-weight: normal;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 36px;
  margin-top: 32px;
}

.exercise_count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 151px;
  width: 127px;
  border-radius: 25px;
  background-color: #DDEED6;
}

.exercise_count_number {
  font-size: 36px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
  color: #535353;
  font-weight: normal;
}

.exercise_count_label {
  font-size: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
}

#home_menu {
  background-color: #E6F4E0;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  height: 97px;
  width: 390px;
}

/* Add Exercise page */

#add_exercise_page {
  background-color: #E6F4E0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 844px;
  width: 390px;
}

#add_exercise_header {
  color: #535353;
  font-size: 36px;
  margin-block-end: 0em;
  margin-block-start: 12px;
}

#add_exercise_body {
  display: flex;
}

.add_exercise_form_head {
  color: darkslategray;
  margin-block-end: .2em;
  margin-block-start: .2em;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#add_exercise_form_heads {
  display: flex;
  width: 156px;
  flex-direction: column;
  justify-content: start;
}

#add_exercise_form {
  display: flex;
  flex-direction: column;
  height: 797px;
}

.add_exercise_textbox {
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  height: 54px;
  width: 216px;
  padding: 10px;
  margin-block-start: 0em;
}

.add_exercise_dropdown {
  background-color: white;
  border: solid black 1px;
  text-align: center;
  height: 54px;
  width: 216px;
  padding: 10px;
  margin-block-start: 0em;
}

.add_exercise_formbox {
  display: flex;
  justify-content: space-around;
  width: 390px;
  align-items: center;
  margin-bottom: 41px;
}

.add_exercise_formbox:nth-of-type(1) {
  margin-top: 128px;
}

.add_exercise_formbox:nth-of-type(4) {
  margin-bottom: 143px;
}

#add_exercise {
  width: 216px;
  height: 54px;
  align-self: center;
  border-radius: 25px;
  background-color: white;
  border: none;
  font-size: 36px;
  justify-self: start;
}

/* Log Exercise page */

#log_exercise_page {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 844px;
  width: 390px;
}

.log_attempt_header {
  font-size: 36px;
  font-style: italic;
  color: #535353;
  font-weight: normal;
  margin-left: 24px;
}

#log_exercise_body {
  width: 390px;
}

#log_exercise_form_layout {
  display: flex;
  align-items: start;
}

.log_exercise_input_labels {
  font-size: 32px;
  font-weight: normal;
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: end;
  width: 120px;
}

.log_page_formrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 202px;
  margin-bottom: 15px;
}

.log_exercise_formbox {
  display: flex;
  border-radius: 5px;
  background-color: #F3FAF0;
  height: 54px;
  width: 58px;
  border: 1px solid black;
  text-align: center;
}

#log_exercise_submit {
  visibility: hidden;
}

#log_page_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 196px;
}

#log_exercise_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe7c5;
  border-radius: 25px;
  height: 62px;
  width: 142px;
  margin-left: 24px;
}

#log_exercise_button_label {
  font-size: 32px;
  font-weight: normal;
}

#next_exercise_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C5DBE7;
  border-radius: 25px;
  height: 116px;
  width: 142px;
  margin-left: 24px;
  text-decoration: none;
  color: black;
}

#next_exercise_button_label {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
}

/* Display All Exercises page */

#all_exercises_page {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 844px;
  width: 390px;
}

#exercises_list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 844px;
  overflow-y: scroll;
}

.exercise_display_card{
  display: flex;
  background-color: #CFE7C5;
  border-radius: 35px;
  height: 106px;
  width: 336px;
  margin-bottom: 22px;
}

.exercise_display_namebox{
  display: flex;
  background-color: #E6f4e0;
  border-radius: 35px;
  height: 106px;
  width: 120px;
  justify-content: center;
  align-items: center;
}

.exercise_display_name{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.exercise_display_typebox {
  display: flex;
  height: 106px;
  width: 213px;
  justify-content: center;
  align-items: start;
}

.exercise_display_type {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

.displayed_exercise_button{
  text-decoration: none;
  color: black;
}

#displayed_exercise_button{
  visibility: hidden;
}
